*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  font-family: 'Sriracha', cursive;
}

 h1{
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
}
p{
    font-size: 17px;
    text-align: center;
}

table {
    margin: 2rem 10rem;
    border: solid rgb(139, 59, 214);
    margin-left:auto;
    margin-right:auto;
    background: rgb(198, 158, 236);
}
table td{
    padding: 1rem;
}
th{
  padding: 1rem;
}
#btn{
  border:2px solid rgb(139, 59, 214);
  padding: 0.5rem;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  